.navbar {
  position: fixed;
  margin-left:auto;
  display: flex;
  justify-content: space-between; /* Ajusta según necesites: space-around, center, etc. */
  align-items: center;
  height: 50px; /* Ajusta la altura según necesites */
  background-color: none; /* Color de fondo de la navbar */
}

.nav-item {
  margin: 0 15px; /* Ajusta el margen para más o menos espacio entre elementos */
  color: gray; /* Color del texto de los elementos */
  text-decoration: none; /* Quita el subrayado de los enlaces */
}

.nav-item:hover {
  color: black; /* Color del texto de los elementos al pasar el mouse */
}

.nav-right{
  margin-left: auto; 
}